--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO django_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO django_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO django_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_keyboardmapping; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.core_keyboardmapping (
    id bigint NOT NULL,
    mappings jsonb NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_active boolean NOT NULL,
    user_id character varying(50) NOT NULL,
    description character varying(100) NOT NULL,
    name character varying(50) NOT NULL
);


ALTER TABLE public.core_keyboardmapping OWNER TO django_user;

--
-- Name: core_keyboardmapping_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

ALTER TABLE public.core_keyboardmapping ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_keyboardmapping_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_myuser; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.core_myuser (
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    username character varying(50) NOT NULL,
    profile_image character varying(100)
);


ALTER TABLE public.core_myuser OWNER TO django_user;

--
-- Name: core_myuser_groups; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.core_myuser_groups (
    id bigint NOT NULL,
    myuser_id character varying(50) NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.core_myuser_groups OWNER TO django_user;

--
-- Name: core_myuser_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

ALTER TABLE public.core_myuser_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_myuser_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_myuser_user_permissions; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.core_myuser_user_permissions (
    id bigint NOT NULL,
    myuser_id character varying(50) NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.core_myuser_user_permissions OWNER TO django_user;

--
-- Name: core_myuser_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

ALTER TABLE public.core_myuser_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_myuser_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id character varying(50) NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO django_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO django_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO django_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO django_user;

--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: django_user
--



--
-- Data for Name: core_keyboardmapping; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.core_keyboardmapping (id, mappings, created_at, updated_at, is_active, user_id, description, name) FROM stdin;
2	{"name": "Test Mapping Number 2", "keymap": {"key1": "space", "key2": "control"}}	2025-04-12 18:28:27.748225-06	2025-04-12 18:28:27.748232-06	f	bode		Unamed Mapping
3	{"key1": "value1", "key2": "value2"}	2025-04-12 22:12:13.546737-06	2025-04-12 22:12:13.546748-06	f	bode	Basic test mapping	Simple Test
4	{}	2025-04-12 22:19:05.908298-06	2025-04-12 22:19:05.908308-06	f	bode	please work	My custom mapping
\.


--
-- Data for Name: core_myuser; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.core_myuser (password, last_login, is_superuser, first_name, last_name, email, is_staff, is_active, date_joined, username, profile_image) FROM stdin;
pbkdf2_sha256$870000$SVvvG3V7FPTr3ToUX0Td0L$hli63ITmhcOqsF5Agrk+BUM+C3aHjWHq67z7WJ4a3P4=	2025-04-12 18:08:27-06	t				t	t	2025-04-12 18:08:06-06	bode	profile_image/Screenshot_2024-09-20_161916.png
\.


--
-- Data for Name: core_myuser_groups; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.core_myuser_groups (id, myuser_id, group_id) FROM stdin;
\.


--
-- Data for Name: core_myuser_user_permissions; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.core_myuser_user_permissions (id, myuser_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
1	2025-04-12 18:08:51.996062-06	bode	bode	2	[{"changed": {"fields": ["Profile image"]}}]	6	bode
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	core	myuser
7	core	keyboardmapping
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: django_user
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
txlai6515agjg8frrdwjys4847absynr	.eJxVjEEOwiAQRe_C2hBKgQ4u3fcMZBimUjWQlHZlvLtt0oVu_3vvv0XAbc1ha7yEOYmriDWxuPzOEenJ5WDpgeVeJdWyLnOUhyJP2uS4h6_b6f4dZGx5r0mbgZW2AwB7SLanCQxpBeA7MBAdTT4CKu7BRuPBITlC9NihAW-S-HwBuM85Ag:1u3ktf:uBWZ8cS82Alsahd9_qgJ-R5TMHnz0gIoJ4VVSNwdCTI	2025-04-26 18:08:27.642291-06
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 28, true);


--
-- Name: core_keyboardmapping_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.core_keyboardmapping_id_seq', 4, true);


--
-- Name: core_myuser_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.core_myuser_groups_id_seq', 1, false);


--
-- Name: core_myuser_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.core_myuser_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 7, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 20, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: core_keyboardmapping core_keyboardmapping_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.core_keyboardmapping
    ADD CONSTRAINT core_keyboardmapping_pkey PRIMARY KEY (id);


--
-- Name: core_myuser_groups core_myuser_groups_myuser_id_group_id_44b9cd31_uniq; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.core_myuser_groups
    ADD CONSTRAINT core_myuser_groups_myuser_id_group_id_44b9cd31_uniq UNIQUE (myuser_id, group_id);


--
-- Name: core_myuser_groups core_myuser_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.core_myuser_groups
    ADD CONSTRAINT core_myuser_groups_pkey PRIMARY KEY (id);


--
-- Name: core_myuser core_myuser_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.core_myuser
    ADD CONSTRAINT core_myuser_pkey PRIMARY KEY (username);


--
-- Name: core_myuser_user_permissions core_myuser_user_permiss_myuser_id_permission_id_783fd10c_uniq; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.core_myuser_user_permissions
    ADD CONSTRAINT core_myuser_user_permiss_myuser_id_permission_id_783fd10c_uniq UNIQUE (myuser_id, permission_id);


--
-- Name: core_myuser_user_permissions core_myuser_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.core_myuser_user_permissions
    ADD CONSTRAINT core_myuser_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: core_keyboardmapping_user_id_2aeb7fbc; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX core_keyboardmapping_user_id_2aeb7fbc ON public.core_keyboardmapping USING btree (user_id);


--
-- Name: core_keyboardmapping_user_id_2aeb7fbc_like; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX core_keyboardmapping_user_id_2aeb7fbc_like ON public.core_keyboardmapping USING btree (user_id varchar_pattern_ops);


--
-- Name: core_myuser_groups_group_id_a1a5f53d; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX core_myuser_groups_group_id_a1a5f53d ON public.core_myuser_groups USING btree (group_id);


--
-- Name: core_myuser_groups_myuser_id_f1a17332; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX core_myuser_groups_myuser_id_f1a17332 ON public.core_myuser_groups USING btree (myuser_id);


--
-- Name: core_myuser_groups_myuser_id_f1a17332_like; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX core_myuser_groups_myuser_id_f1a17332_like ON public.core_myuser_groups USING btree (myuser_id varchar_pattern_ops);


--
-- Name: core_myuser_user_permissions_myuser_id_aa44a776; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX core_myuser_user_permissions_myuser_id_aa44a776 ON public.core_myuser_user_permissions USING btree (myuser_id);


--
-- Name: core_myuser_user_permissions_myuser_id_aa44a776_like; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX core_myuser_user_permissions_myuser_id_aa44a776_like ON public.core_myuser_user_permissions USING btree (myuser_id varchar_pattern_ops);


--
-- Name: core_myuser_user_permissions_permission_id_e191eeb1; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX core_myuser_user_permissions_permission_id_e191eeb1 ON public.core_myuser_user_permissions USING btree (permission_id);


--
-- Name: core_myuser_username_2ba4fdaa_like; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX core_myuser_username_2ba4fdaa_like ON public.core_myuser USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_admin_log_user_id_c564eba6_like; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX django_admin_log_user_id_c564eba6_like ON public.django_admin_log USING btree (user_id varchar_pattern_ops);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_keyboardmapping core_keyboardmapping_user_id_2aeb7fbc_fk_core_myuser_username; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.core_keyboardmapping
    ADD CONSTRAINT core_keyboardmapping_user_id_2aeb7fbc_fk_core_myuser_username FOREIGN KEY (user_id) REFERENCES public.core_myuser(username) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_myuser_groups core_myuser_groups_group_id_a1a5f53d_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.core_myuser_groups
    ADD CONSTRAINT core_myuser_groups_group_id_a1a5f53d_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_myuser_groups core_myuser_groups_myuser_id_f1a17332_fk_core_myuser_username; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.core_myuser_groups
    ADD CONSTRAINT core_myuser_groups_myuser_id_f1a17332_fk_core_myuser_username FOREIGN KEY (myuser_id) REFERENCES public.core_myuser(username) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_myuser_user_permissions core_myuser_user_per_myuser_id_aa44a776_fk_core_myus; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.core_myuser_user_permissions
    ADD CONSTRAINT core_myuser_user_per_myuser_id_aa44a776_fk_core_myus FOREIGN KEY (myuser_id) REFERENCES public.core_myuser(username) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_myuser_user_permissions core_myuser_user_per_permission_id_e191eeb1_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.core_myuser_user_permissions
    ADD CONSTRAINT core_myuser_user_per_permission_id_e191eeb1_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_core_myuser_username; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_core_myuser_username FOREIGN KEY (user_id) REFERENCES public.core_myuser(username) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO django_user;


--
-- PostgreSQL database dump complete
--

